@import "~bootstrap/scss/bootstrap";
.navbar{
    // background-color: #fff;
    width: 100%;
    height: 50px;
    font-family: cursive;
    // color: #1489bb;
    color: #fff;
    .nav-span{
         margin: 20px;
     }
     select{
         background-color:#148abc;
         color: #fff;
     }
     .right{
         padding:0 50px;
        .nav-span{
            margin:0 20px;
        }

     }
     .trans{
        font-size: 20px;
        padding: 0 20px;
     }
}
.img{
    background-image: url("./images/mainimage.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height:100vh; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    .over-lay{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        position:relative;
       
        .text-button{
            position: absolute;
            bottom:20%;
            width:100%;
            text-align: center;
           color: #fff;
           font-size:30px;
           font-weight: bold;
           .text{
               font-weight: normal;
               font-size: 16px;
               margin: 5px 0;
           }
           button{
               font-size: 16px;
               font-weight: normal;
               border: none;
               outline: none;
               border-radius:25px;
               padding:10px 15px ;
               background-color: #3c638a;;
               color: #fff;
           }
        }
    }

}
    
.second-row{
    padding:20px;
    padding-top: 30px;
    text-align:left;
   
  
    .text{
        h5{
            font-size: 24px;
            color: #3c638a;
        }
        // color: gray;
        color: #000;
        width: 80%;
        margin: auto;
        margin-top: 10vh;
      
       
     
        .content-css{
            margin-top:20px;
            line-height:25px;
            min-height:40vh;
        }
        .my-anchor-css-class{
            color: #3c638a;
        }
    }
    img{
        display:block;
        
        text-align:left;
        margin-top: 10vh;
        width:80%;
        height:50vh;
    }
}
.third-row{
    padding:30px;
    font-size: 18px;
    color: #3c638a;
    font-weight: bold;
    p{
        font-size:16px;
        font-weight: normal;
        max-width: 80%;
        display: block;
        margin:  auto;
       
    }
    .icon{
        width:83px ;
        height:75px;
        padding-top: 4px;
        margin: auto;
        color:#faa933;
        font-size: 50px;
        margin-bottom: 5px;
        border: solid 1px #faa933;
        border-radius:50%;
        span{
                display: block;
                margin-top: -10px;
        }
    }
}
.fourth-row{
    margin-top: 70px;
    max-width: 100%;
    .col{
        padding:0;
    }
    .div{
        background-color:#faa933;
        // width:120%;
        height:250px;
       position: relative;
        .text{
            color: #fffee9;
            position: absolute;
            bottom:80px;
            width: 41%;
            left: 20%;
            text-align:left;
            font-size: 22px;
            font-family: cursive;
        }
      
    }
    .image{
        img{
            width:100%;
            height:250px;
        }
       
    }
}